<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<appSettings>
		<add key="API_PATH" value="https://beta.check-mot.service.gov.uk/trade/vehicles/mot-tests?registration=" />
		<add key="SEND_MESSAGE_INFO" value="Sending request to service for registration number " />
		<add key="RECEIVE_MESSAGE_INFO" value="Response received from service for registration number " />
		<add key="SEND_MESSAGE_ERROR" value="Error processing request for registration number " />
		<add key="RECEIVE_MESSAGE_ERROR" value="Response received from service, but no data found for registration number " />
		<add key="UNEXPECTED_ERROR" value="An unexpected error occurred while processing your request, please see debug logs for further details." />		
		<add key="X_API_KEY" value="fZi8YcjrZN1cGkQeZP7Uaa4rTxua8HovaswPuIno" />
		<add key="NO_TESTS" value="No MOT Tests found with vehicle registration number " />
		<add key="TESTS_FOUND" value="Records found for registration number " />
		<add key="NO_EXPIRY" value="EXPIRY DATE NOT RECORDED AT LAST MOT" />
		<add key="NO_PASS" value="EXPIRED - NO PASSING MOT FOUND" />
		<add key="NO_DATA" value="NO DATA FOUND" />
	</appSettings>	
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="DebugAppender"/>
		</root>
		<appender name="DebugAppender" type="log4net.Appender.DebugAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd.MM.yyyy HH:mm:ss.ffff} [%thread] %level %logger%exception - %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>